@using IGLOUniversity.ViewModel.Matakuliah

@model IndexMatakuliahViewModel

@{
    ViewData["Title"] = "Index Matakuliah";
}

@section modalDialog{
    <div class="modal-layer">
        <partial name="_UpsertDialog"></partial>
        <partial name="_DeleteDialog"></partial>
    </div>
    <script>
        $(".close-button").click(function (event) {
            event.preventDefault();
            //$(".upsert-dialog form span").empty();
            $(".modal-layer").removeAttr("style");
            $(".popup-dialog").removeAttr("style");
            window.location.reload();
        });
    </script>
}

<h2>Master Matakuliah</h2>

<div class="wrapp-content">
    <table>
        <div class="field-row">
            <a class="btn btn-secondary btn-add">Tambah Matakuliah</a>
        </div>
        <thead style="text-align:center;">
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Sks</th>
                <th>Deskripsi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Grid)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nama</td>
                    <td>@item.Sks</td>
                    <td>@item.Deskripsi</td>
                    <td>
                        <a class="btn btn-warning btn-update-modal" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger btn-delete-modal" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Total Data : @Model.TotalData</td>
                <td colspan="5">
                    @for (int i = 1; i <= Model.TotalHalaman; i++)
                    {
                        <a class="btn btn-group btn-secondary" asp-action="Index" asp-route-page="@i">@i</a>
                    }
                </td>
            </tr>
        </tfoot>
    </table>

</div>